<%= content_tag_for :ul, user_agent do %>
  <li><strong>User Agent</strong> <%= user_agent.agent %></li>
  <li><strong>Signatures</strong> <%= user_agent.request_signatures.count %></li>
  <li><strong>Tracked Hits</strong> <%= user_agent.resource_requests.tracked.count %></li>
  <li><strong><abbr title="Do Not Track">DNT</abbr> Hits</strong> <%= user_agent.resource_requests.untracked.count %></li>
<%- end -%>
